<!--<h2><%= @thread_chat.title %></h2>

<div id="messages" data-thread-chat-id="<%= @thread_chat.id %>">
  <%= render @thread_chat.messages %>
</div>

<form id="message-form">
  <input type="text" id="message-input" placeholder="Type a message..." />
  <button type="submit">Send</button>
</form>
